.buttons {
  display: inline-block;
}

button {
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  background-color: brown;
  margin-right: 20px;
}

button:hover {
  background-color: burlywood;
}

.pic-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.PicStyle {
  width: 400px;
  height: 400px;
  display: inline-block;
  background-color: #f4f4f4;
  margin: 20px;
}
